* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #230e3d;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

section {
  padding-block: 2rem;
  padding-inline: 16rem;
  font-size: 1.4rem;
}

.nav {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;
}

.logo span {
  color: #e511de;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}

.btn-primary {
  background: linear-gradient(45deg, #e3d805, #e511de, #6304d7);
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  text-decoration: none;
}

.hero {
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.hero-img {
  display: grid;
  place-items: center;
}

.hero-img img {
  width: 25%;
  aspect-ratio: 1;
}

.hero-img img:first-child {
  position: relative;
}

.hero-img img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  aspect-ratio: inherit;
}

.hero-img::after {
  content: "NEW";
  position: absolute;
  top: 25%;
  right: 40%;
  background-color: rgba(7, 233, 48, 0.8);
  border-radius: 1rem;
  border: 1px solid #000;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  color: #000;
  font-weight: 600;
}

.hero-text {
  grid-row: 2/-1;
}

.about {
  background-color: #1a0b2e;
  text-align: center;
}

.section-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 2rem;
}

.stats {
  border-top: 1px solid #555;
  padding-top: 4rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
}

.stat-num {
  font-size: 3.6rem;
  color: #00ff88;
  font-weight: 800;
}
.stat-des {
  font-size: 1rem;
}

.grid {
  padding-top: 4rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.grid-card {
  text-align: left;
  background-color: #171d68;
  border-radius: 3rem;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.grid-card:first-child {
  grid-row: 1/3;
}
.grid-card:nth-child(2) {
  grid-column: 2/-1;
}
.grid-card:nth-child(3) {
  grid-column: 2/-1;
}
.grid-card:nth-child(4) {
  grid-column: 1/3;
}

.grid-card p {
  font-size: 1rem;
}
