* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #230e3d;
  color: #fff;
  font-family: "Poppins", sans-serif;

  max-width: 1440px;
  margin: 0 auto;
}

section {
  padding-block: 2rem;
  padding-inline: 16rem;
  font-size: 1.4rem;
}

.nav {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1a0b2e;
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;
}

.logo span {
  color: #e511de;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
}

.hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button {
  transition: 300ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.btn-primary {
  background: linear-gradient(45deg, #e3d805, #e511de, #6304d7);
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  text-decoration: none;
}

.btn-secondary {
  background-color: transparent;
  color: #63e6be;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 1px solid #63e6be;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #63e6be;
  color: #000;

  transform: scale(1.1);
}

.hero {
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-img {
  display: grid;
  place-items: center;

  margin-top: 4rem;
}

.hero-img img {
  width: 35%;
  aspect-ratio: 1;
}

.hero-img img:last-child {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  aspect-ratio: inherit;
}

.hero-img::after {
  content: "NEW";
  position: absolute;
  top: 20%;
  right: 38%;
  background-color: #63e6be;
  border-radius: 1rem;
  border: 1px solid #000;
  padding: 0.4rem 2rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
}

.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.about {
  background-color: #1a0b2e;
  text-align: center;
}

.section-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.about p {
  margin-bottom: 2rem;
}

.stats {
  border-top: 1px solid #555;
  padding-top: 4rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;

  text-transform: uppercase;
}

.stat-num {
  font-size: 3.6rem;
  color: #63e6be;
  font-weight: 800;
}
.stat-des {
  font-size: 1rem;
}

.grid {
  padding-top: 4rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.grid-title {
  font-size: 2rem;
  font-weight: 600;
}

.grid-card {
  text-align: left;
  background-color: #070a36;
  border-radius: 3rem;
  padding: 4rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.grid-card:first-child {
  grid-row: 1/3;
}
.grid-card:nth-child(2) {
  grid-column: 2/-1;
}
.grid-card:nth-child(3) {
  grid-column: 2/-1;
}
.grid-card:nth-child(4) {
  grid-column: 1/3;
}

.grid-card p {
  font-size: 1rem;
}

.featured {
  background-color: #1a0b2e;
  padding-top: 9.6rem;
}

.featured-cards {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.featured-card {
  background-color: #070a36;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  overflow: hidden;
}

.featured iframe {
  border: none;
  width: 100%;
}

.featured-card-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.meet {
  padding-block: 4rem;
  background-color: #1a0b2e;

  padding-bottom: 9.6rem;
}
.meet .section-title {
  margin-bottom: 4rem;
}
.host {
  display: flex;
  gap: 4rem;
  align-items: center;
  background-color: #070a36;
  padding: 2rem;
  border-radius: 2rem;
}

.host-name {
  margin-bottom: 2rem;
}

.socials {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials-img {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
}

.footer {
  background-image: url(assets/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  padding-block: 12rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-logo {
  font-size: 5.6rem;
  font-weight: 600;
}

.footer-logo span {
  color: #e511de;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-socials a {
  text-decoration: none;
  color: #fff;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.copyright {
  color: #888;
  margin-top: 2rem;
}

@media (max-width: 576px) {
  section {
    padding-inline: 2rem;
  }
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }

  .sub {
    display: none;
  }

  .hero-img::after {
    top: 20%;
    right: 30%;

    padding-inline: 1.6rem;
  }

  .hero-img img:last-child {
    top: 35%;
  }
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-card:first-child {
    grid-row: initial;
  }
  .grid-card:nth-child(2) {
    grid-column: initial;
  }
  .grid-card:nth-child(3) {
    grid-column: initial;
  }
  .grid-card:nth-child(4) {
    grid-column: initial;
  }

  .featured-cards {
    flex-direction: column;
  }
  .host {
    flex-direction: column;
    text-align: center;
  }
  .socials {
    justify-content: center;
  }

  .footer {
    background-size: 100% 100%;
    padding-block: 6rem;
  }

  .footer-logo {
    font-size: 4rem;
  }

  .footer-socials {
    margin-top: 4rem;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
